Dataset disponível em https://grouplens.org/datasets/movielens/ em diversos tamanhos de arquivo(10k, 1M, 10M, 20M,etc).

Avaliações e filmes contidos em arquivos separados, devemos fazer o "join" entre eles pelo id do filme.

In [3]:
import pandas as pd
import numpy as np

r_cols = ['userId', 'movieId', 'rating']
ratings = pd.read_csv('../ml-latest-small/ratings.csv', sep=',', names=r_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)
#ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', names=r_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)
#ratings = pd.read_csv('ml-10M100K/ratings.dat', sep='::', names=r_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)

m_cols = ['movieId', 'title','genres']
movies = pd.read_csv('../ml-latest-small/movies.csv', sep=',', names=m_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)
#movies = pd.read_csv('ml-1m/movies.dat', sep='::', names=m_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)
#movies = pd.read_csv('ml-10M100K/movies.dat', sep='::', names=m_cols, usecols=range(3), encoding="ISO-8859-1", header=None, skiprows=1)

movies['genres'] = movies['genres'].apply(lambda x: x.split('|'))
ratings = pd.merge(movies, ratings)

ratings['rating'] = ratings['rating'].map(float)

ratings.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",7,3.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",9,4.0
2,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",13,5.0
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",15,2.0
4,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",19,3.0

Devemos criar uma pivot table de usuários e filmes em que os valores são a avaliação

In [4]:
movieRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating', aggfunc='first',fill_value=float('nan'))
movieRatings.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã nous la libertÃ© (Freedom for Us) (1931),Ä°tirazÄ±m Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Usamos a função de correlação da biblioteca pandas, retiramos os com correlação NaN e ordenamos.
Além disso, separadamente agregamos as avaliações por filme para podermos selecionar quais filmes devem ser levados em conta

In [6]:
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})

popularMovies = movieStats['rating']['size'] >= 80
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                                   rating
                                                     size      mean
title
Godfather, The (1972)                               200.0  4.487500
Shawshank Redemption, The (1994)                    311.0  4.487138
Godfather: Part II, The (1974)                      135.0  4.385185
Usual Suspects, The (1995)                          201.0  4.370647
Rear Window (1954)                                   92.0  4.315217
Schindler's List (1993)                             244.0  4.303279
North by Northwest (1959)                            87.0  4.270115
One Flew Over the Cuckoo's Nest (1975)              144.0  4.256944
Fargo (1996)                                        224.0  4.256696
Pulp Fiction (1994)                                 324.0  4.256173
American Beauty (1999)                              220.0  4.236364
Dark Knight, The (2008)                             121.0  4.235537
Casablanca (1942)                                   117.0  4.235043
Star Wars: Episode V - The Empire Strikes Back ...  234.0  4.232906
Memento (2000)                                      132.0  4.227273

In [7]:
starWarsRatings = movieRatings['Star Wars: Episode IV - A New Hope (1977)'].map(float)
#starWarsRatings = movieRatings['Star Wars: Episode VII - The Force Awakens (2015)'].map(float)

similarMovies = movieRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()
similarMovies = similarMovies.sort_values(ascending=False)

df = pd.DataFrame(similarMovies)
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df = df.sort_values(['similarity'], ascending=False)
df.head(15)

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Wars: Episode IV - A New Hope (1977),291.0,4.221649,1.000000
Star Wars: Episode VI - Return of the Jedi (1983),217.0,4.059908,0.747774
Star Wars: Episode V - The Empire Strikes Back (1980),234.0,4.232906,0.700790
"Dark Knight, The (2008)",121.0,4.235537,0.549486
"Departed, The (2006)",84.0,4.202381,0.485204
Spider-Man 2 (2004),84.0,3.625000,0.479129
"Lord of the Rings: The Fellowship of the Ring, The (2001)",200.0,4.182500,0.477582
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),220.0,4.193182,0.476442
X2: X-Men United (2003),81.0,3.617284,0.467895
"Incredibles, The (2004)",126.0,3.861111,0.450914
"Lord of the Rings: The Two Towers, The (2002)",188.0,4.061170,0.448153
E.T. the Extra-Terrestrial (1982),160.0,3.768750,0.428289
Star Trek: Generations (1994),114.0,3.350877,0.413682
Dave (1993),90.0,3.561111,0.403376
"Monsters, Inc. (2001)",130.0,3.884615,0.403180